/* Desktop - 2 */

position: relative;
width: 1440px;
height: 5519px;

background: #FFFFFF;


/* Vector 40 */

position: absolute;
width: 1720.56px;
height: 1165.07px;
left: 1497.56px;
top: -95.5px;

background: #EF94D6;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 166 */

position: absolute;
width: 97px;
height: 97px;
left: 87px;
top: 79px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 0.989796px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.76%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Beranda */

position: absolute;
width: 103px;
height: 29px;
left: 714px;
top: 113px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #000000;



/* Peraturan */

position: absolute;
width: 121px;
height: 29px;
left: 1050px;
top: 113px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #808080;



/* Pendaftaran */

position: absolute;
width: 151px;
height: 29px;
left: 858px;
top: 113px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #808080;



/* Klasmen */

position: absolute;
width: 107px;
height: 29px;
left: 1211px;
top: 113px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #808080;



/* _Group_ (7) 1 */

position: absolute;
width: 481px;
height: 377.34px;
left: 124px;
top: 499px;



/* Vector */

position: absolute;
left: 81.65%;
right: 12.11%;
top: 11.73%;
bottom: 81.93%;

background: #A5B9CF;


/* Vector */

position: absolute;
left: 81.45%;
right: 5.69%;
top: 6.69%;
bottom: 81.98%;

background: #C3D2DE;


/* Vector */

position: absolute;
left: 83.71%;
right: 5.57%;
top: 6.62%;
bottom: 85.27%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 76.35%;
right: 5.59%;
top: 6.62%;
bottom: 87.83%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 12.12%;
right: 19.57%;
top: 10.43%;
bottom: 35.97%;

border: 1.18473px dashed #FFFFFF;


/* Vector */

position: absolute;
left: 24.96%;
right: 67.36%;
top: 22.13%;
bottom: 70.24%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 33.26%;
right: 62.9%;
top: 21.19%;
bottom: 66.8%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 26.8%;
right: 64.04%;
top: 32.84%;
bottom: 63.14%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 37.39%;
right: 58.46%;
top: 28.1%;
bottom: 60.16%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 30.17%;
right: 60.57%;
top: 39.13%;
bottom: 56.47%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 40.8%;
right: 54.36%;
top: 37.25%;
bottom: 52.92%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 33.15%;
right: 57.86%;
top: 47.42%;
bottom: 48.03%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 30.99%;
right: 54.95%;
top: 27.55%;
bottom: 30.88%;

border: 1.18473px solid #126943;


/* Vector */

position: absolute;
left: 6.43%;
right: 82.56%;
top: 50.08%;
bottom: 44.66%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 17.8%;
right: 77.79%;
top: 44.07%;
bottom: 43.72%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 11.59%;
right: 80.74%;
top: 55.15%;
bottom: 38.14%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 23.77%;
right: 72.26%;
top: 46.89%;
bottom: 40.22%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 17.01%;
right: 75.43%;
top: 57.96%;
bottom: 35.28%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 28.43%;
right: 67.34%;
top: 51%;
bottom: 37.05%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 23.83%;
right: 67.35%;
top: 65.37%;
bottom: 30.12%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 13.57%;
right: 64.69%;
top: 53.08%;
bottom: 29.22%;

border: 1.18473px solid #126943;


/* Vector */

position: absolute;
left: 21.34%;
right: 59.15%;
top: 35.36%;
bottom: 40.88%;

background: #1F918C;


/* Vector */

position: absolute;
left: 23.87%;
right: 59.95%;
top: 37.97%;
bottom: 38.52%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 29.17%;
right: 70.68%;
top: 38.21%;
bottom: 56.53%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 34.27%;
right: 64.52%;
top: 43.36%;
bottom: 49.72%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 37.75%;
right: 60.58%;
top: 52.2%;
bottom: 43.58%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 23.19%;
right: 72.54%;
top: 41.29%;
bottom: 58.09%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 25.99%;
right: 67.98%;
top: 47.49%;
bottom: 50.49%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 30.57%;
right: 63.66%;
top: 53.89%;
bottom: 44.22%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 59.47%;
right: 28.23%;
top: 17.21%;
bottom: 48.87%;

background: #1F918C;


/* Vector */

position: absolute;
left: 64.48%;
right: 33.26%;
top: 21.18%;
bottom: 47.61%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 62.54%;
right: 34.83%;
top: 25.64%;
bottom: 70.31%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 60.15%;
right: 35.58%;
top: 34.51%;
bottom: 60.96%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 61.28%;
right: 35.38%;
top: 44.57%;
bottom: 53.41%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 65.73%;
right: 31.13%;
top: 23.28%;
bottom: 73%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 64.86%;
right: 29.4%;
top: 31.96%;
bottom: 64.93%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 64.52%;
right: 30.01%;
top: 40.49%;
bottom: 56.5%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 81.07%;
right: 11.08%;
top: 25.53%;
bottom: 67.33%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 77.59%;
right: 19.2%;
top: 24.57%;
bottom: 65.29%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 78.21%;
right: 12.99%;
top: 34.62%;
bottom: 60.99%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 73.45%;
right: 22.6%;
top: 29.54%;
bottom: 59.23%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 75.55%;
right: 15.02%;
top: 40.49%;
bottom: 55.12%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 69.41%;
right: 25.45%;
top: 36.26%;
bottom: 53.81%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 73.26%;
right: 17.76%;
top: 46.49%;
bottom: 49.16%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 67.39%;
right: 27.42%;
top: 44.19%;
bottom: 47.06%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 71.58%;
right: 20.22%;
top: 52.76%;
bottom: 42.93%;

background: #1CA33A;


/* Vector */

position: absolute;
left: 70.8%;
right: 17.87%;
top: 31.27%;
bottom: 36.44%;

border: 1.18473px solid #126943;


/* Vector */

position: absolute;
left: 72.54%;
right: 3.94%;
top: 47.27%;
bottom: 33.76%;

background: #1F918C;


/* Vector */

position: absolute;
left: 72.84%;
right: 6.85%;
top: 50.08%;
bottom: 32.39%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 86.92%;
right: 12.18%;
top: 48.56%;
bottom: 46.31%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 80.53%;
right: 19.15%;
top: 51.55%;
bottom: 41.37%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 75.27%;
right: 23.93%;
top: 58.85%;
bottom: 36.53%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 88.9%;
right: 6.85%;
top: 52.61%;
bottom: 46.47%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 83.37%;
right: 11.18%;
top: 56.67%;
bottom: 39.43%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 77.92%;
right: 16.86%;
top: 61.48%;
bottom: 34.85%;

border: 1.18473px solid #166673;


/* Vector */

position: absolute;
left: 0%;
right: 59.38%;
top: 84.02%;
bottom: 6.03%;

background: #5E96D6;


/* Vector */

position: absolute;
left: 16.86%;
right: 65.46%;
top: 74.11%;
bottom: 7.96%;

background: #F7AA36;


/* Vector */

position: absolute;
left: 3.69%;
right: 77.41%;
top: 81.35%;
bottom: 8.12%;

background: #FEEDE3;


/* Vector */

position: absolute;
left: 7.09%;
right: 78.28%;
top: 84.03%;
bottom: 15.09%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 11.16%;
right: 77.41%;
top: 85.62%;
bottom: 13.44%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 13.73%;
right: 77.45%;
top: 87.28%;
bottom: 11.85%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 6.54%;
right: 78.24%;
top: 88.56%;
bottom: 10.27%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 3.04%;
right: 76.89%;
top: 80.31%;
bottom: 7.54%;

background: #FFBF46;


/* Vector */

position: absolute;
left: 16.11%;
right: 67.57%;
top: 67.24%;
bottom: 18.26%;

background: #3878E8;


/* Vector */

position: absolute;
left: 20.02%;
right: 77.38%;
top: 70.02%;
bottom: 19.65%;

background: #FFBF46;


/* Vector */

position: absolute;
left: 21.81%;
right: 75.59%;
top: 69.54%;
bottom: 20.41%;

background: #FFBF46;


/* Vector */

position: absolute;
left: 2.33%;
right: 80.06%;
top: 71.75%;
bottom: 18.79%;

background: #FEEDE3;


/* Vector */

position: absolute;
left: 9.14%;
right: 80.86%;
top: 74.18%;
bottom: 25.04%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 6.34%;
right: 80.05%;
top: 75.59%;
bottom: 23.56%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 9.69%;
right: 80.09%;
top: 77.1%;
bottom: 22.14%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 6.16%;
right: 80.83%;
top: 78.23%;
bottom: 20.72%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 1.71%;
right: 79.57%;
top: 70.81%;
bottom: 18.26%;

background: #3C97FE;


/* Vector */

position: absolute;
left: 4.94%;
right: 68.45%;
top: 58.92%;
bottom: 27.97%;

background: #C42D97;


/* Vector */

position: absolute;
left: 22.51%;
right: 74.8%;
top: 63.86%;
bottom: 31.1%;

background: #F7AA36;


/* Vector */

position: absolute;
left: 4.94%;
right: 70.71%;
top: 58.92%;
bottom: 35.97%;

background: #F74DB3;


/* Vector */

position: absolute;
left: 10.44%;
right: 79.17%;
top: 60.3%;
bottom: 38.52%;

background: #FEEDE3;


/* Vector */

position: absolute;
left: 5.15%;
right: 78.88%;
top: 62.24%;
bottom: 28.3%;

background: #FEEDE3;


/* Vector */

position: absolute;
left: 8.62%;
right: 79.61%;
top: 64.66%;
bottom: 34.55%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 11.82%;
right: 78.88%;
top: 66.08%;
bottom: 33.06%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 9.01%;
right: 78.92%;
top: 67.58%;
bottom: 31.65%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 13.13%;
right: 79.58%;
top: 68.71%;
bottom: 30.22%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 4.59%;
right: 78.44%;
top: 61.31%;
bottom: 27.76%;

background: #EA33AA;


/* Vector */

position: absolute;
left: 29.58%;
right: 19.93%;
top: 82.89%;
bottom: 3.92%;

background: #5E96D6;


/* Vector */

position: absolute;
left: 36.37%;
right: 24.11%;
top: 67.65%;
bottom: 10.03%;

background: #0D409E;


/* Vector */

position: absolute;
left: 38.69%;
right: 54.36%;
top: 39.87%;
bottom: 44.08%;

background: #BA68D6;


/* Vector */

position: absolute;
left: 43.28%;
right: 24.2%;
top: 32.43%;
bottom: 24.94%;

background: #A25ED6;


/* Vector */

position: absolute;
left: 27.71%;
right: 42.7%;
top: 69.12%;
bottom: 7.82%;

background: #0750B5;


/* Vector */

position: absolute;
left: 57.71%;
right: 30.22%;
top: 86.51%;
bottom: 0.13%;

background: #14133B;


/* Vector */

position: absolute;
left: 60.42%;
right: 30.22%;
top: 91.77%;
bottom: 0.13%;

background: #515D82;


/* Vector */

position: absolute;
left: 30.63%;
right: 56.11%;
top: 86.27%;
bottom: 0.14%;

background: #14133B;


/* Vector */

position: absolute;
left: 30.63%;
right: 63.9%;
top: 86.48%;
bottom: 0.14%;

background: #515D82;


/* Vector */

position: absolute;
left: 39.93%;
right: 26.32%;
top: 69.99%;
bottom: 2.39%;

background: #065CBD;


/* Vector */

position: absolute;
left: 37.27%;
right: 58.7%;
top: 25.76%;
bottom: 67.44%;

background: #EF9281;


/* Vector */

position: absolute;
left: 49.94%;
right: 42.84%;
top: 31.1%;
bottom: 56.45%;

background: #FFBD9A;


/* Vector */

position: absolute;
left: 49.94%;
right: 42.84%;
top: 31.1%;
bottom: 57.08%;

background: #EF9281;


/* Vector */

position: absolute;
left: 35.05%;
right: 38.45%;
top: 4.92%;
bottom: 70.58%;

background: #14133B;


/* Vector */

position: absolute;
left: 35.05%;
right: 42.19%;
top: 4.92%;
bottom: 77.28%;

background: #2C245C;


/* Vector */

position: absolute;
left: 39.72%;
right: 38.6%;
top: 18.67%;
bottom: 59.08%;

background: #FFBD9A;


/* Vector */

position: absolute;
left: 39.72%;
right: 43.92%;
top: 18.67%;
bottom: 73.75%;

background: #EF9281;


/* Vector */

position: absolute;
left: 48.78%;
right: 47.33%;
top: 23.47%;
bottom: 73.94%;

background: #14133B;


/* Vector */

position: absolute;
left: 40.87%;
right: 55.64%;
top: 23.7%;
bottom: 74.14%;

background: #14133B;


/* Vector */

position: absolute;
left: 45.96%;
right: 53.53%;
top: 30.83%;
bottom: 66.94%;

border: 2.36946px solid #C44547;


/* Vector */

position: absolute;
left: 46.9%;
right: 49.2%;
top: 34.22%;
bottom: 63.72%;

border: 2.36946px solid #C44547;


/* Vector */

position: absolute;
left: 43.41%;
right: 55.45%;
top: 30.04%;
bottom: 67.83%;

background: #14133B;


/* Vector */

position: absolute;
left: 49.66%;
right: 49.2%;
top: 29.78%;
bottom: 68.1%;

background: #14133B;


/* Vector */

position: absolute;
left: 63.95%;
right: 27.76%;
top: 53.3%;
bottom: 31.92%;

background: #EF9281;


/* Vector */

position: absolute;
left: 60.6%;
right: 27.72%;
top: 38.05%;
bottom: 39.07%;

background: #BA68D6;


/* Vector */

position: absolute;
left: 59.72%;
right: 27.66%;
top: 56.42%;
bottom: 25.6%;

background: #FFBD9A;


/* Vector */

position: absolute;
left: 31.96%;
right: 56.44%;
top: 58.63%;
bottom: 26.86%;

background: #F7A98B;


/* Vector */

position: absolute;
left: 38.66%;
right: 60.11%;
top: 62.87%;
bottom: 32.59%;

border: 1.18473px solid #ED8C74;


/* Vector */

position: absolute;
left: 40.05%;
right: 41.88%;
top: 45.01%;
bottom: 37.79%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 32.84%;
right: 59.61%;
top: 42.35%;
bottom: 46.22%;

background: #E1EDF2;


/* Vector */

position: absolute;
left: 30.91%;
right: 59.57%;
top: 43.91%;
bottom: 42.9%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 29.96%;
right: 42.82%;
top: 46.64%;
bottom: 32.29%;

background: #FFBF46;


/* Vector */

position: absolute;
left: 29.96%;
right: 54.53%;
top: 46.64%;
bottom: 32.29%;

background: #F7AA36;


/* Vector */

position: absolute;
left: 44.2%;
right: 43.41%;
top: 47.67%;
bottom: 41.16%;

background: #FFDB80;


/* Vector */

position: absolute;
left: 39.47%;
right: 53.2%;
top: 52.84%;
bottom: 32.29%;

background: #FFDB80;


/* Vector */

position: absolute;
left: 51.22%;
right: 43.84%;
top: 53.59%;
bottom: 43.17%;

background: #F7AA36;


/* Vector */

position: absolute;
left: 51.43%;
right: 46.15%;
top: 58.7%;
bottom: 36.7%;

background: #F7AA36;


/* Vector */

position: absolute;
left: 51.32%;
right: 38.18%;
top: 50.7%;
bottom: 35.15%;

background: #FFBD9A;


/* Vector */

position: absolute;
left: 52.6%;
right: 43%;
top: 60.58%;
bottom: 38.82%;

border: 2.36946px solid #C44547;


/* Vector */

position: absolute;
left: 53.53%;
right: 42.86%;
top: 62.84%;
bottom: 36.48%;

border: 2.36946px solid #C44547;


/* Vector */

position: absolute;
left: 32.52%;
right: 61.85%;
top: 54.41%;
bottom: 36.44%;

background: #EB8328;


/* Vector */

position: absolute;
left: 30.74%;
right: 63.87%;
top: 53.77%;
bottom: 43.02%;

background: #FFBD9A;


/* Vector */

position: absolute;
left: 31.53%;
right: 61.86%;
top: 56.8%;
bottom: 33.58%;

background: #FFBD9A;


/* Vector */

position: absolute;
left: 32.93%;
right: 62.65%;
top: 61.3%;
bottom: 38.05%;

border: 2.36946px solid #C44547;


/* Vector */

position: absolute;
left: 34.48%;
right: 62.48%;
top: 63.56%;
bottom: 35.75%;

border: 2.36946px solid #C44547;


/* Vector */

position: absolute;
left: 70.27%;
right: 0.91%;
top: 88.04%;
bottom: 3.69%;

background: #5E96D6;


/* Vector */

position: absolute;
left: 88.86%;
right: 2.7%;
top: 79.26%;
bottom: 5.34%;

background: #C42D97;


/* Vector */

position: absolute;
left: 72.96%;
right: 7.6%;
top: 83.48%;
bottom: 5.56%;

background: #FEEDE3;


/* Vector */

position: absolute;
left: 76.98%;
right: 8.57%;
top: 85.7%;
bottom: 13.44%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 80.96%;
right: 7.64%;
top: 87.6%;
bottom: 11.66%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 77.59%;
right: 7.61%;
top: 89.47%;
bottom: 9.91%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 82.67%;
right: 8.37%;
top: 91.1%;
bottom: 8.13%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 71.98%;
right: 7.06%;
top: 82.26%;
bottom: 4.93%;

background: #EA33AA;


/* Vector */

position: absolute;
left: 89.86%;
right: 0.92%;
top: 69.62%;
bottom: 17.3%;

background: #3878E8;


/* Vector */

position: absolute;
left: 73.37%;
right: 5.38%;
top: 73.12%;
bottom: 17.36%;

background: #FEEDE3;


/* Vector */

position: absolute;
left: 81.45%;
right: 6.4%;
top: 75.02%;
bottom: 24.24%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 78.12%;
right: 5.39%;
top: 76.67%;
bottom: 22.68%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 82.22%;
right: 5.39%;
top: 78.29%;
bottom: 21.18%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 77.97%;
right: 6.26%;
top: 79.8%;
bottom: 19.61%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 72.45%;
right: 4.79%;
top: 72.06%;
bottom: 16.83%;

background: #3C97FE;


/* Vector */

position: absolute;
left: 73.35%;
right: 2.71%;
top: 61.47%;
bottom: 27.27%;

background: #F7AA36;


/* Vector */

position: absolute;
left: 89.36%;
right: 2.71%;
top: 61.48%;
bottom: 27.27%;

background: #F0942B;


/* Vector */

position: absolute;
left: 74.21%;
right: 6.34%;
top: 63.73%;
bottom: 27.54%;

background: #FEEDE3;


/* Vector */

position: absolute;
left: 77.55%;
right: 7.29%;
top: 65.43%;
bottom: 33.83%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 81.8%;
right: 6.35%;
top: 66.95%;
bottom: 32.46%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 84.51%;
right: 6.35%;
top: 68.43%;
bottom: 31.07%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 77.11%;
right: 7.13%;
top: 69.83%;
bottom: 29.61%;

background: #DBB9AB;


/* Vector */

position: absolute;
left: 73.35%;
right: 5.8%;
top: 62.75%;
bottom: 27.05%;

background: #FFBF46;


/* Vector */

position: absolute;
left: 10.9%;
right: 87.38%;
top: -0.02%;
bottom: 97.55%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 1.54%;
right: 96.74%;
top: 40.17%;
bottom: 57.36%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 60.28%;
right: 37.99%;
top: 2.45%;
bottom: 95.07%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 94.67%;
right: 3.63%;
top: 36.31%;
bottom: 61.22%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 98.23%;
right: 0.06%;
top: 63%;
bottom: 34.54%;

background: #FFFFFF;


/* KLAS */

position: absolute;
width: 83px;
height: 412px;
left: 1189px;
top: 3558px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 108.217px;
line-height: 94.9%;
/* or 103px */
text-align: center;

color: rgba(248, 186, 113, 0.55);



/* Group 183 */

position: absolute;
width: 1401px;
height: 648px;
left: 83px;
top: 2534px;



/* Lorem Ipsum dolor Sit amet */

position: absolute;
width: 1087px;
height: 76px;
left: 397px;
top: 2534px;

font-family: 'Baloo';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 76px;
/* identical to box height */

color: #000000;



/* P E RA */

position: absolute;
width: 83px;
height: 412px;
left: 83px;
top: 2564px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 108.217px;
line-height: 94.9%;
/* or 103px */
text-align: center;

color: rgba(248, 186, 113, 0.55);



/* T U R A N */

position: absolute;
width: 88px;
height: 515px;
left: 178px;
top: 2667px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 108.217px;
line-height: 94.9%;
/* or 103px */
text-align: center;

color: rgba(248, 186, 113, 0.55);



/* MEN */

position: absolute;
width: 104px;
height: 309px;
left: 1276px;
top: 3764px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 108.217px;
line-height: 94.9%;
/* or 103px */
text-align: center;

color: rgba(248, 186, 113, 0.55);



/* Group 182 */

position: absolute;
width: 1274px;
height: 751px;
left: 109px;
top: 1753px;



/* Group 166 */

position: absolute;
width: 301px;
height: 481px;
left: 141px;
top: 1904px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 2px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.77%;
top: 0.77%;
bottom: 0.77%;

border: 2px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 2px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 170 */

position: absolute;
width: 301px;
height: 481px;
left: 487px;
top: 1904px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 2px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.77%;
top: 0.77%;
bottom: 0.77%;

border: 2px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 2px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 171 */

position: absolute;
width: 301px;
height: 481px;
left: 833px;
top: 1904px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 2px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.77%;
top: 0.77%;
bottom: 0.77%;

border: 2px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 2px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Lorem Ipsum dolor Sit amet */

position: absolute;
width: 1087px;
height: 76px;
left: 109px;
top: 1753px;

font-family: 'Baloo';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 76px;
/* identical to box height */
text-align: center;

color: #000000;



/* P ENDAF */

position: absolute;
width: 90px;
height: 618px;
left: 1196px;
top: 1783px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 108.217px;
line-height: 94.9%;
/* or 103px */
text-align: center;

color: rgba(248, 186, 113, 0.55);



/* TARAN */

position: absolute;
width: 88px;
height: 515px;
left: 1295px;
top: 1989px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 108.217px;
line-height: 94.9%;
/* or 103px */
text-align: center;

color: rgba(248, 186, 113, 0.55);



/* Group 184 */

position: absolute;
width: 478px;
height: 407px;
left: 817px;
top: 481px;



/* Lorem Ipsum dolor Sit amet */

position: absolute;
width: 410px;
height: 120px;
left: 817px;
top: 481px;

font-family: 'Baloo Bhai';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;

color: #000000;



/* Group 167 */

position: absolute;
width: 254px;
height: 64px;
left: 817px;
top: 824px;



/* Rectangle 208 */

position: absolute;
width: 254px;
height: 64px;
left: 817px;
top: 824px;

background: #EED4B5;
box-shadow: inset -7px -4px 4px rgba(77, 74, 9, 0.25);
border-radius: 66px;


/* Daftar */

position: absolute;
width: 116px;
height: 44px;
left: 886px;
top: 834px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
/* identical to box height */

color: #FFFFFF;



/* Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien. */

position: absolute;
width: 477px;
height: 132px;
left: 818px;
top: 616px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 150%;
/* or 36px */
text-align: justify;

color: #000000;



/* Ellipse 100 */

position: absolute;
width: 246.37px;
height: 70.97px;
left: 50px;
top: 440.13px;

background: #EED4B5;
transform: rotate(-30.79deg);


/* Ellipse 101 */

position: absolute;
width: 86.98px;
height: 73.68px;
left: 726.43px;
top: 438.53px;

background: #EED4B5;
transform: matrix(-0.86, -0.51, -0.51, 0.86, 0, 0);


/* Vector 41 */

position: absolute;
width: 246px;
height: 95.32px;
left: 1375px;
top: 200px;

background: #EED4B5;


/* Rectangle 207 */

position: absolute;
width: 103px;
height: 9px;
left: 714px;
top: 153px;

background: #EED4B5;


/* Vector 42 */

position: absolute;
width: 319.56px;
height: 263.39px;
left: 359px;
top: -157px;

background: #EED4B5;


/* Group 185 */

position: absolute;
width: 1231px;
height: 515px;
left: 64px;
top: 1146px;



/* Lorem Ipsum dolor Sit amet */

position: absolute;
width: 353px;
height: 168px;
left: 292px;
top: 1214px;

font-family: 'Baloo';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;

color: #000000;



/* A P A */

position: absolute;
width: 83px;
height: 309px;
left: 64px;
top: 1146px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 108.217px;
line-height: 94.9%;
/* or 103px */
text-align: center;

color: rgba(248, 186, 113, 0.55);



/* I T U ? */

position: absolute;
width: 86px;
height: 412px;
left: 147px;
top: 1249px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 108.217px;
line-height: 94.9%;
/* or 103px */
text-align: center;

color: rgba(248, 186, 113, 0.55);



/* Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit . */

position: absolute;
width: 317px;
height: 229px;
left: 290px;
top: 1419px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 150%;
/* or 36px */
text-align: justify;

color: #000000;



/* Lorem ipsum dolor sit amet consectetur adipiscing */

position: absolute;
width: 409px;
height: 72px;
left: 886px;
top: 1200px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */
text-align: justify;

color: #000000;



/* Lorem ipsum dolor sit amet consectetur adipiscing */

position: absolute;
width: 409px;
height: 72px;
left: 886px;
top: 1351px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */
text-align: justify;

color: #000000;



/* Lorem ipsum dolor sit amet consectetur adipiscing */

position: absolute;
width: 409px;
height: 72px;
left: 886px;
top: 1498px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */
text-align: justify;

color: #000000;



/* 1 */

position: absolute;
width: 29px;
height: 61px;
left: 788px;
top: 1203px;

font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 94.9%;
/* identical to box height, or 61px */
text-align: center;

color: #EED4B5;



/* 2 */

position: absolute;
width: 40px;
height: 61px;
left: 782px;
top: 1351px;

font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 94.9%;
/* identical to box height, or 61px */
text-align: center;

color: #EED4B5;



/* 3 */

position: absolute;
width: 39px;
height: 61px;
left: 783px;
top: 1500px;

font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 94.9%;
/* identical to box height, or 61px */
text-align: center;

color: #EED4B5;



/* Vector 43 */

position: absolute;
width: 64.71px;
height: 430.5px;
left: calc(50% - 64.71px/2 + 0.36px);
top: 1199.83px;



/* _Group_ (9) 1 */

position: absolute;
width: 79px;
height: 78.83px;
left: 718.83px;
top: 1112px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 78.34%;
right: 4.17%;
top: 7.15%;
bottom: 60.45%;

background: #BFDDE0;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 97.12%;
right: -26.59%;
top: 25.35%;
bottom: 51.91%;

background: #BFDDE0;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 77.52%;
right: -52.26%;
top: 20.6%;
bottom: 3.46%;

background: #F7CA4F;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 46.11%;
right: 38.82%;
top: 36.49%;
bottom: 48.79%;

background: #FCF0E0;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 43.13%;
right: 44.85%;
top: 36.42%;
bottom: 50.86%;

background: #654337;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 39.14%;
right: 57.79%;
top: 37.74%;
bottom: 59.17%;

background: #FEFEFE;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 21.57%;
right: 66.45%;
top: 24.82%;
bottom: 63.47%;

background: #FCF0E0;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 19.22%;
right: 71.21%;
top: 24.77%;
bottom: 65.12%;

background: #654337;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 16.04%;
right: 81.53%;
top: 25.81%;
bottom: 71.73%;

background: #FEFEFE;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 27.36%;
right: 67.05%;
top: 33.24%;
bottom: 61.91%;

background: #654337;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 38.71%;
right: 54.8%;
top: 52.11%;
bottom: 41.98%;

background: #F7A37F;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 9.6%;
right: 85.17%;
top: 33.41%;
bottom: 61.8%;

background: #F7A37F;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 11.8%;
right: 76.46%;
top: 48.52%;
bottom: 43.16%;

background: #654337;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 71.69%;
right: 25.25%;
top: 85.45%;
bottom: 8.44%;

background: #654337;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 48.02%;
right: 43.51%;
top: 80.58%;
bottom: 0.05%;

background: #654337;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 65.5%;
right: 26.03%;
top: 83.55%;
bottom: 0.76%;

background: #654337;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 33.28%;
right: 52.75%;
top: 0.03%;
bottom: 75.41%;

background: #654337;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 54.72%;
right: 37.7%;
top: 5.77%;
bottom: 67.15%;

background: #654337;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 66.73%;
right: -30.15%;
top: 29.21%;
bottom: 23.94%;

background: #7D5749;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 31.96%;
right: 54.18%;
top: 60.19%;
bottom: 26.09%;

background: #654337;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 76.94%;
right: -39.27%;
top: 46.65%;
bottom: 7.44%;

background: #7D5749;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 99.93%;
right: -32.87%;
top: 31.76%;
bottom: 51.51%;

background: #CAEAED;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 87.89%;
right: -13.06%;
top: 14.08%;
bottom: 58.33%;

background: #CAEAED;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 166 */

position: absolute;
width: 745px;
height: 160px;
left: 389px;
top: 2681px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 2px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.77%;
top: 0.77%;
bottom: 0.77%;

border: 2px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 2px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 168 */

position: absolute;
width: 745px;
height: 160px;
left: 542px;
top: 2864px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 2px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.77%;
top: 0.77%;
bottom: 0.77%;

border: 2px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 2px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 169 */

position: absolute;
width: 745px;
height: 160px;
left: 389px;
top: 3047px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 2px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.77%;
top: 0.77%;
bottom: 0.77%;

border: 2px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 2px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 166 */

position: absolute;
width: 956px;
height: 764px;
left: 178px;
top: 3503px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 2px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.77%;
top: 0.77%;
bottom: 0.77%;

border: 2px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 2px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector 44 */

position: absolute;
width: 1581.49px;
height: 1688.5px;
left: -88px;
top: 4212.5px;

background: #EF94D6;


/* Vector 45 */

position: absolute;
width: 307.44px;
height: 538.12px;
left: 1226px;
top: 3066px;

background: #EF94D6;


/* Vector 46 */

position: absolute;
width: 143.66px;
height: 375.14px;
left: -53px;
top: 1686.5px;

background: #EF94D6;


/* Ellipse 102 */

position: absolute;
width: 105px;
height: 105px;
left: 42px;
top: 1700px;

background: #EED4B5;


/* Ellipse 103 */

position: absolute;
width: 262px;
height: 71px;
left: 1150px;
top: 3281px;

background: #EED4B5;


/* Lorem Ipsum 2023 */

position: absolute;
width: 291px;
height: 32px;
left: 50px;
top: 5446px;

font-family: 'Baloo 2';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* identical to box height */

color: #000000;



/* Rectangle 210 */

position: absolute;
width: 1341px;
height: 6px;
left: calc(50% - 1341px/2 + 0.5px);
top: 5409px;

background: #EED4B5;


/* Group 181 */

position: absolute;
width: 1135px;
height: 429px;
left: 118px;
top: 4915px;



/* Group 172 */

position: absolute;
width: 390px;
height: 386px;
left: 118px;
top: 4933px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 0.989796px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.77%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 173 */

position: absolute;
width: 32px;
height: 31px;
left: 633px;
top: 4999px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 0.989796px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.76%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 176 */

position: absolute;
width: 32px;
height: 31px;
left: 951px;
top: 4999px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 0.989796px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.76%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 177 */

position: absolute;
width: 32px;
height: 31px;
left: 951px;
top: 5131px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 0.989796px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.76%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 178 */

position: absolute;
width: 32px;
height: 31px;
left: 951px;
top: 5191px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 0.989796px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.76%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 179 */

position: absolute;
width: 32px;
height: 31px;
left: 951px;
top: 5252px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 0.989796px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.76%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 180 */

position: absolute;
width: 32px;
height: 31px;
left: 951px;
top: 5312px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 0.989796px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.76%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 174 */

position: absolute;
width: 32px;
height: 32px;
left: 633px;
top: 5065px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 0.989796px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.76%;
top: 0.77%;
bottom: 0.76%;

border: 0.989796px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.76%;

border: 0.989796px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 175 */

position: absolute;
width: 32px;
height: 31px;
left: 633px;
top: 5131px;



/* Rectangle 206 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 0.989796px solid #000000;


/* Vector 38 */

position: absolute;
left: 1.02%;
right: 0.76%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;


/* Vector 39 */

position: absolute;
left: 99.23%;
right: -97.45%;
top: 0.77%;
bottom: 0.77%;

border: 0.989796px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Lorem Ipsum dolor Sit amet */

position: absolute;
width: 291px;
height: 31px;
left: 626px;
top: 4915px;

font-family: 'Baloo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 31px;

color: #000000;



/* Lorem Ipsum */

position: absolute;
width: 191px;
height: 32px;
left: 690px;
top: 4999px;

font-family: 'Baloo 2';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* identical to box height */

color: #000000;



/* Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in */

position: absolute;
width: 227px;
height: 128px;
left: 1004px;
top: 4993px;

font-family: 'Baloo 2';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;

color: #000000;



/* 08123457689 */

position: absolute;
width: 227px;
height: 32px;
left: 1004px;
top: 5131px;

font-family: 'Baloo 2';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* identical to box height */

color: #000000;



/* 08123457689 */

position: absolute;
width: 227px;
height: 32px;
left: 1004px;
top: 5191px;

font-family: 'Baloo 2';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* identical to box height */

color: #000000;



/* lorem@ipsum@mial.com */

position: absolute;
width: 227px;
height: 32px;
left: 1004px;
top: 5252px;

font-family: 'Baloo 2';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* identical to box height */

color: #000000;



/* @loremipsum */

position: absolute;
width: 227px;
height: 32px;
left: 1004px;
top: 5312px;

font-family: 'Baloo 2';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* identical to box height */

color: #000000;



/* Lorem Ipsum */

position: absolute;
width: 191px;
height: 32px;
left: 690px;
top: 5066px;

font-family: 'Baloo 2';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* identical to box height */

color: #000000;



/* Lorem Ipsum */

position: absolute;
width: 191px;
height: 32px;
left: 690px;
top: 5132px;

font-family: 'Baloo 2';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* identical to box height */

color: #000000;



/* Lorem Ipsum dolor Sit amet */

position: absolute;
width: 291px;
height: 31px;
left: 962px;
top: 4915px;

font-family: 'Baloo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 31px;

color: #000000;



/* Rectangle 208 */

position: absolute;
width: 263px;
height: 6px;
left: 621px;
top: 4959px;

background: linear-gradient(270deg, rgba(238, 212, 181, 0) 9.36%, #EED4B5 50.06%, rgba(238, 212, 181, 0) 89.25%);


/* Rectangle 209 */

position: absolute;
width: 263px;
height: 6px;
left: 957px;
top: 4959px;

background: linear-gradient(270deg, rgba(238, 212, 181, 0) 9.36%, #EED4B5 50.06%, rgba(238, 212, 181, 0) 89.25%);
